<!DOCTYPE html>
<html lang="ja">
 <head>
 <meta charset="utf-8">
 <title>読書記録</title>
 <meta name="description" content="recordof reading">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="style.css">
 <!-- [if lt IE 9] -->
 <!--<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
 <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>-->
 <!-- [endif] -->
 <script src="main.js"></script>
 </head>
 <body>
 <!----- header----->
 <header>My record of reading</header>
 <!----- /header ----->
 
 <!----- main ----->
 <article>
 <h1>削除完了しました</h1>

 <section>
<p><a href="/">TOP PAGE</a></p>
<p><a href="/book/new">ADD NEW BOOK</a></p>
 </section>
 </article>
 <!----- /main ----->
 
 <!----- footer ----->
 <footer></footer>
 <!----- /footer ----->
 </body>
</html>