<!DOCTYPE html>
<html lang="ja">
 <head>
 <meta charset="utf-8">
 <title>読書記録</title>
 <meta name="description" content="recordof reading">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="style.css">
 <!-- [if lt IE 9] -->
 <!--<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
 <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>-->
 <!-- [endif] -->
 <script src="main.js"></script>
 </head>
 <body>
 <!----- header----->
 <header>My record of reading</header>
 <!----- /header ----->
 
 <!----- main ----->
 <article>
 <h1>The list of books I've read</h1>

 <section>
<p><a href="/book/new">Add new book</a></p>
<ul>
    {{range $index, $book := .result}}
    <li>{{$book.Id}}:{{$book.Title}} {{$book.Score}}:{{$book.Memo}} </li>
        <form method="post" action="/book/v1/delete">
            <input type="submit" value="delete">
            <input type="hidden" name="id" value="{{ $book.Id }}">
        </form>
    {{end}}
</ul>

 </section>
 </article>
 <!----- /main ----->
 
 <!----- footer ----->
 <footer></footer>
 <!----- /footer ----->
 </body>
</html>