<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>読書記録</title>
    <meta name="description" content="recordof reading">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <!-- [if lt IE 9] -->
    <!--<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>-->
    <!-- [endif] -->
 </head>
 <body>
 <!----- header----->
 <header>My record of reading</header>
 <!----- /header ----->
 
 <!----- main ----->
 <article>
 <h1>The list of books I've read</h1>

 <section>
<p><a href="/book/new">Add new book</a></p>
<ul>
    {{range $index, $book := .result}}
    <li>{{$book.Title}} {{$book.Score}}:{{$book.Memo}}:{{$book.Date}}
        <p>{{$book.Id}}</p>
        <form method="post" action="/book/v1/delete">
            <input type="submit" value="delete">
            <input type="hidden" name="id" value="{{ $book.Id }}">
        </form>
        
        <p>
            <a href="/book/update/{{ $book.Id }}">
                <button type="button">update</button>
            </a>
        </p>
    </li>

    {{end}}
</ul>

<p>the number of books you read : {{.total}}</p>


 

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
<canvas id="bar-chart"></canvas>
<script>
    var context = document.getElementById('bar-chart').getContext('2d');
  var bar_chart = new Chart(context, {
    type:'bar', // グラフのタイプを指定
    data:{
      labels: {{.month}},// グラフ下部のラベル
      datasets:[
        {label:'読んだ冊数', // データのラベル
          data:{{.total}}, // グラフ化するデータの数値
          borderColor:'rgb(255, 99, 132)', // 棒を囲う線の色
          backgroundColor:'rgba(255, 99, 132, 0.2)'} // 棒の中の色
      ]
    },
    options:{
      scales:{
        yAxes:[{
          ticks:{
            min:0, // グラフの最小値
            max: 50 // グラフの最大値
          }
        }]
      }
    }
  });
</script>
</section>
</article>
 <!----- /main ----->
 
 <!----- footer ----->
 <footer></footer>
 <!----- /footer ----->
 </body>
</html>